body {
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #fff;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;

  img {
    cursor: pointer;
    transition: .3s;
  }

  img:hover {
    transform: scale(1.03);
  }

}

.info-container {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background-color: #F00821;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: .5s;
  }

  button:hover {
    transform: scale(1.1);
  }

}