body {
  padding: 0;
  margin: 0;
  background-color: #101C2A;
  color: #92969C;
}

h3 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

h3:hover {
  color: #eec84c;

}

h2 {
  width: 300px;
  font-size: 40px;
}

.question {
  padding: 10px 0;
  width: 500px;
}

.question-container {
  background-color: #27303E;
  margin: 40px;
  padding: 0 40px;
  border-radius: 5px;
}

#faqs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1E2A38;
  position: absolute;
  left: 15%;
  top: 10%;
  width: 1000px;
  border-radius: 10px;
  padding: 40px;
}

.answer {
  display: none;
}

.show-answer {
  display: block;
  padding: 0;
  margin: 0;
}

.arrow {
  border: solid #92969C;
  border-width: 0 2px 2px 0;
  display: inline-flex;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}