body {
  padding: 0;
  margin: 0;
}

h3 {
  cursor: pointer;
}

.question {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.answer {
  display: none;
}

.show-answer {
  display: block;
}