body {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  text-align: end;
}

.button-container {
  margin-top: 8px;
}

.button {
  width: 100px;
}